h1{
    color:aqua;
}
header{
    background-color: rgb(197, 166, 226);
    display:flex;
    
}
.navlist{
    display: flex;
}
.navlist li{
    margin: 2rem;
}
.container{
    height: 50vh;
    background-color: rgba(187, 121, 132, 0.767);
    margin: auto;
    max-width: 800px;
    min-width: 60%;
    padding: 2rem;
    display: flex;

}
.col1, .col2{
    margin: 1rem;
    padding: 1rem;
}
.col1{
    background-color: cadetblue;
    padding: 1rem;
}